

  <p>
    <mat-toolbar color="primary">
    
      <button mat-raised-button class="btn-toolbar">
        <a routerLink="/grower/products">Grower Products</a>
      </button>
      <button mat-raised-button  class="btn-toolbar">
        <a routerLink="/customer/products">Customer Products</a>
      </button>
      <button mat-raised-button  class="btn-toolbar">
        <a routerLink="/grower/orders">Grower Orders</a>
      </button>
      <button mat-raised-button  class="btn-toolbar">
        <a routerLink="/customer/orders">Customer Orders</a>
      </button>
    </mat-toolbar>
  </p>
  
<router-outlet></router-outlet>